/* Prome UI Settings */
:root {
	/* Prome Letterbox */
	--prome-letterbox-zindex: 29;

	/* Prome Focus/Defocus Mode */
	--prome-focus-filter-transition: 0.4s ease-in;
	--prome-focus-scale: 1.05;
	--prome-defocus-brightness: 0.5;

	/* Prome Sprite Shake */
	--prome-shake-duration: 0.35s;
	--prome-shake-duration-reduced: 0.7s;
	--prome-shake-timing: ease-in-out;

	/* Prome Sprite Shadows */
	--prome-shadow-color: #111;
	--prome-shadow-filter: drop-shadow(
		var(--prom-sprite-shadow-offsetx) var(--prom-sprite-shadow-offsety)
			var(--prom-sprite-shadow-blur) var(--prome-shadow-color)
	);
	--prome-shadow-filter-defocus: var(--prome-shadow-filter)
		brightness(var(--prome-defocus-brightness));
}

.prome-drawer-content {
	gap: 8px;
	display: flex;
	flex-direction: column;
}

.prome_vn_block {
	width: 100%;
}

.prome_details_padding {
	padding: 5px 5px;
}

/* Prome Letterbox Settings */
body.waifuMode.hLetterBox #visual-novel-letterbox-one {
	width: 100vw;
	height: var(--prom-letterbox-size);
	top: 0;
	position: fixed;
	background-color: var(--prom-letterbox-color);
	z-index: var(--prome-letterbox-zindex);
}
body.waifuMode.hLetterBox #visual-novel-letterbox-two {
	width: 100vw;
	height: var(--prom-letterbox-size);
	bottom: 0;
	position: fixed;
	background-color: var(--prom-letterbox-color);
	z-index: var(--prome-letterbox-zindex);
}
body.waifuMode.vLetterBox #visual-novel-letterbox-one {
	width: var(--prom-letterbox-size);
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	background-color: var(--prom-letterbox-color);
	z-index: var(--prome-letterbox-zindex);
}
body.waifuMode.vLetterBox #visual-novel-letterbox-two {
	width: var(--prom-letterbox-size);
	height: 100vh;
	top: 0;
	right: 0;
	position: fixed;
	background-color: var(--prom-letterbox-color);
	z-index: var(--prome-letterbox-zindex);
}

/* 
 * Prome Sprite Focus (Multiple Characters) 
 * For shake + focus, see Prome Sprite Shake
 */
#visual-novel-wrapper [id*="expression-"] {
	will-change: transform, filter;
	transition: transform var(--prom-sprite-zoom-speed)
		var(--prom-sprite-zoom-animation), filter
		var(--prome-focus-filter-transition);
}

#expression-wrapper > div {
	will-change: transform, filter;
	transition: transform var(--prom-sprite-zoom-speed)
		var(--prom-sprite-zoom-animation), filter
		var(--prome-focus-filter-transition);
}

/* Sprite Focus to Last Message Character on 'expression-holder' */
body.waifuMode.spriteZoom .prome-sprite-focus {
	transform: scale(var(--prome-focus-scale));
}

/*
 * Prome Sprite Defocus
 */

/* Sprites not in chat are lower contrast to differentiate focused sprite */
body.waifuMode.spriteDefocusTint .prome-sprite-defocus {
	filter: brightness(var(--prome-defocus-brightness));
}

/*
 * Prome Sprite Scale
 */
body.waifuMode.spriteScale .prome-sprite-scale {
	transform: scale(var(--prom-sprite-scale));
	transform-origin: bottom;
}

body.waifuMode.spriteScale.spriteZoom .prome-sprite-scale.prome-sprite-focus {
	transform: scale(calc(var(--prom-sprite-scale) * var(--prome-focus-scale)));
}

body.waifuMode.spriteZoom:not(.spriteScale) .prome-sprite-focus {
	transform: scale(var(--prome-focus-scale));
}

/* 
 * Prome Sprite Shake 
 */

body.waifuMode.spriteShake .prome-sprite-shake {
	animation: shake var(--prome-shake-duration) var(--prome-shake-timing)
		infinite;
}

body.waifuMode.spriteShake.spriteZoom .prome-sprite-shake {
	animation: shakeAndFocus var(--prome-shake-duration) var(--prome-shake-timing)
		infinite;
}

body.waifuMode.spriteShake.spriteScale .prome-sprite-shake {
	animation: shakeAndScale var(--prome-shake-duration) var(--prome-shake-timing)
		infinite;
}

body.waifuMode.spriteShake.spriteZoom.spriteScale .prome-sprite-shake {
	animation: shakeFocusAndScale var(--prome-shake-duration)
		var(--prome-shake-timing) infinite;
}

@keyframes shake {
	0% {
		transform: translate(0px, 0px) rotate(0deg);
	}
	25% {
		transform: translate(1px, 0px) rotate(0.1deg);
	}
	50% {
		transform: translate(0px, 0px) rotate(0.2deg);
	}
	75% {
		transform: translate(-1px, 0px) rotate(0.1deg);
	}
	100% {
		transform: translate(0px, 0px) rotate(0deg);
	}
}

@keyframes shakeAndScale {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(var(--prom-sprite-scale));
	}
	25% {
		transform: translate(1px, 0px) rotate(0.1deg)
			scale(var(--prom-sprite-scale));
	}
	50% {
		transform: translate(0px, 0px) rotate(0.2deg)
			scale(var(--prom-sprite-scale));
	}
	75% {
		transform: translate(-1px, 0px) rotate(0.1deg)
			scale(var(--prom-sprite-scale));
	}
	100% {
		transform: translate(0px, 0px) rotate(0deg) scale(var(--prom-sprite-scale));
	}
}

@keyframes shakeAndFocus {
	0% {
		transform: translate(0px, 0px) rotate(0deg) scale(var(--prome-focus-scale));
	}
	25% {
		transform: translate(1px, 0px) rotate(0.1deg)
			scale(var(--prome-focus-scale));
	}
	50% {
		transform: translate(0px, 0px) rotate(0.2deg)
			scale(var(--prome-focus-scale));
	}
	75% {
		transform: translate(-1px, 0px) rotate(0.1deg)
			scale(var(--prome-focus-scale));
	}
	100% {
		transform: translate(0px, 0px) rotate(0deg) scale(var(--prome-focus-scale));
	}
}

@keyframes shakeFocusAndScale {
	0% {
		transform: translate(0px, 0px) rotate(0deg)
			scale(calc(var(--prom-sprite-scale) * var(--prome-focus-scale)));
	}
	25% {
		transform: translate(1px, 0px) rotate(0.1deg)
			scale(calc(var(--prom-sprite-scale) * var(--prome-focus-scale)));
	}
	50% {
		transform: translate(0px, 0px) rotate(0.2deg)
			scale(calc(var(--prom-sprite-scale) * var(--prome-focus-scale)));
	}
	75% {
		transform: translate(-1px, 0px) rotate(0.1deg)
			scale(calc(var(--prom-sprite-scale) * var(--prome-focus-scale)));
	}
	100% {
		transform: translate(0px, 0px) rotate(0deg)
			scale(calc(var(--prom-sprite-scale) * var(--prome-focus-scale)));
	}
}

@media (prefers-reduced-motion: reduce) {
	body.waifuMode.spriteShake .prome-sprite-shake {
		animation: shake var(--prome-shake-duration-reduced)
			var(--prome-shake-timing) infinite;
	}

	body.waifuMode.spriteShake.spriteZoom .prome-sprite-shake {
		animation: shakeAndFocus var(--prome-shake-duration-reduced)
			var(--prome-shake-timing) infinite;
	}

	body.waifuMode.spriteShake.spriteScale .prome-sprite-shake {
		animation: shakeAndScale var(--prome-shake-duration-reduced)
			var(--prome-shake-timing) infinite;
	}

	body.waifuMode.spriteShake.spriteZoom.spriteScale .prome-sprite-shake {
		animation: shakeFocusAndScale var(--prome-shake-duration-reduced)
			var(--prome-shake-timing) infinite;
	}
}

/* 
 * Prome Sprite Shadows
 */

body.waifuMode.spriteShadow #visual-novel-wrapper [id*="expression-"] {
	filter: var(--prome-shadow-filter);
}

body.waifuMode.spriteShadow #expression-wrapper .expression-holder {
	filter: var(--prome-shadow-filter);
}

body.waifuMode.spriteDefocusTint.spriteShadow
	#visual-novel-wrapper
	[id*="expression-"].prome-sprite-defocus {
	filter: var(--prome-shadow-filter-defocus);
}

/* 
 * Prome Background Tint
 */

body.worldTint.tintWorld #bg1 {
	filter: var(--prom-background-tint-filter);
}

body.worldTint.tintCharacter #expression-wrapper .expression-holder {
	filter: var(--prom-character-tint-filter);
}

body.worldTint.sharedTint #expression-wrapper .expression-holder {
	filter: var(--prom-background-tint-filter);
}

body.worldTint.tintCharacter #visual-novel-wrapper [id*="expression-"] {
	filter: var(--prom-character-tint-filter);
}

body.worldTint.sharedTint #visual-novel-wrapper [id*="expression-"] {
	filter: var(--prom-background-tint-filter);
}

body.worldTint.tintCharacter.spriteShadow:not(.spriteEmulation)
	#visual-novel-wrapper
	[id*="expression-"] {
	filter: var(--prom-character-tint-filter)
		drop-shadow(
			var(--prom-sprite-shadow-offsetx) var(--prom-sprite-shadow-offsety)
				var(--prom-sprite-shadow-blur) #111
		);
}

body.worldTint.sharedTint.spriteShadow:not(.spriteEmulation)
	#visual-novel-wrapper
	[id*="expression-"] {
	filter: var(--prom-background-tint-filter)
		drop-shadow(
			var(--prom-sprite-shadow-offsetx) var(--prom-sprite-shadow-offsety)
				var(--prom-sprite-shadow-blur) #111
		);
}

body.worldTint.tintCharacter.spriteShadow.spriteDefocusTint:not(
		.spriteEmulation
	)
	.prome-sprite-defocus {
	filter: var(--prom-character-tint-filter)
		drop-shadow(
			var(--prom-sprite-shadow-offsetx) var(--prom-sprite-shadow-offsety)
				var(--prom-sprite-shadow-blur) #111
		)
		brightness(0.5) !important;
}

body.worldTint.sharedTint.spriteShadow.spriteDefocusTint:not(.spriteEmulation)
	.prome-sprite-defocus {
	filter: var(--prom-background-tint-filter)
		drop-shadow(
			var(--prom-sprite-shadow-offsetx) var(--prom-sprite-shadow-offsety)
				var(--prom-sprite-shadow-blur) #111
		)
		brightness(0.5) !important;
}

body.worldTint.tintCharacter.spriteShadow
	#expression-wrapper
	.expression-holder {
	filter: var(--prom-character-tint-filter)
		drop-shadow(
			var(--prom-sprite-shadow-offsetx) var(--prom-sprite-shadow-offsety)
				var(--prom-sprite-shadow-blur) #111
		);
}

body.worldTint.sharedTint.spriteShadow #expression-wrapper .expression-holder {
	filter: var(--prom-background-tint-filter)
		drop-shadow(
			var(--prom-sprite-shadow-offsetx) var(--prom-sprite-shadow-offsety)
				var(--prom-sprite-shadow-blur) #111
		);
}

body.worldTint.tintCharacter.spriteShadow
	#visual-novel-wrapper
	[id*="expression-"] {
	filter: var(--prom-character-tint-filter)
		drop-shadow(
			var(--prom-sprite-shadow-offsetx) var(--prom-sprite-shadow-offsety)
				var(--prom-sprite-shadow-blur) #111
		);
}

body.worldTint.sharedTint.spriteShadow
	#visual-novel-wrapper
	[id*="expression-"] {
	filter: var(--prom-background-tint-filter)
		drop-shadow(
			var(--prom-sprite-shadow-offsetx) var(--prom-sprite-shadow-offsety)
				var(--prom-sprite-shadow-blur) #111
		);
}

/* 
 * Prome User Sprite Overrides
 * (For ST)
 */
body.waifuMode.userSprite:not(.movingUI) #expression-wrapper {
	position: absolute;
	height: max-content;
	bottom: 0;
}

body.waifuMode.userSprite:not(.movingUI)
	#expression-wrapper
	.expression-holder {
	position: unset;
}

body #expression-prome-user {
	display: none;
	visibility: hidden;
}

body.waifuMode.userSprite #expression-prome-user {
	display: flex;
	visibility: visible;
}
